:root {
  --mainBgColor: rgb(249, 254, 255);
  --mainTxtColor: rgb(255, 255, 255);
  --linkColor: rgb(0, 0, 0);
  --hoverLinkColor: hsl(43, 100%, 46%);
  --nameColor: var(--hoverLinkColor);
}

html,
body,
main {
  background-color: var(--mainBgColor);
  height: 100%;
}

.contact {
  color: var(--linkColor);
  font-size: 80px;
}

.contact > :hover {
  color: var(--hoverLinkColor);
}

.bi {
  margin: 1vh;
}

.techIcon {
  block-size: 60px;
}

#jsName {
  color: var(--nameColor);
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
